@import "tailwindcss";

@theme {
  /* This replaces the old config file */
  --color-boho-cream: #F2EDE4;
  --color-boho-terracotta: #B8735A;
  --color-boho-sage: #6B7F6E;
  --color-boho-tan: #D4B99B;
  --color-boho-black: #1A1A1A;
  --color-boho-beige: #E8DCC8;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F2EDE4;
}